# Log levels: 0: errors, 1: debug
HA_MQTT_LOG_LEVEL=0

MQTT_BROKER="mqtt://homeassistant.local"
MQTT_USER=""
MQTT_PASS=""

HA_DISCOVERY="homeassistant"
PI_ID="jupi5"
PI_NAME_FRIENDLY="Pi 5"


# optional for both IO / system
# UPDATE_INTERVAL_MS=60000
# PAYLOAD_STATUS_ON=""
# PAYLOAD_STATUS_OFF=""

# optional for IO
# BASE_TOPIC=""
# STATUS_TOPIC=""
# PAYLOAD_GPIO_ON=""
# PAYLOAD_GPIO_OFF=""

# optional for system
# PI_ID_SYSTEM="jupi5"
# BASE_TOPIC_SYSTEM=""
# STATUS_TOPIC_SYSTEM=""
# MONITOR_TOPIC_SYSTEM=""